{% extends 'mediaapp/base.html'%}
{% block title %}{{title}}{% endblock title %}
{% block Keywords %}{{title}}{% endblock %}
{% block Description %}{{title}}{% endblock %}

<!-- for twitter -->
{% block TITLE %}{{title}}{% endblock TITLE %}
{% block DESCRIPTION %}{{title}}{% endblock DESCRIPTION %}
{% block IMAGE %}{{image}}{% endblock IMAGE %}

<!-- for whatsapp-->
{% block Title %}{{title}}{% endblock Title %}
{% block Image %}{{image}}{% endblock Image %}
{% block description %}{{title}}{% endblock description %}

{% load static %}
{% load social_share %}

{% block body_block %}

<!--==========================
  legaldetail page Section
============================-->

<section id="detailpage">
    <div class="container">
        <div id="detail-content">
            {%for detail in data%}
            <br/>
            <script type="text/javascript" language="javascript">
                 var aax_size='728x90';
             if(/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)){
                aax_size='300X250';
             }
              var aax_pubname = 'legtech-21';
              var aax_src='302';



            </script>
            <!-- <script type="text/javascript" language="javascript"
                    src="http://c.amazon-adsystem.com/aax2/assoc.js"></script> -->
            <br/>
            <h1 id="title"><b>{{detail.title}}</b></h1>

            <div class="row">
                <div class="col">
                    <h1 class="text-muted" id="date">{{detail.date}}</h1>
                </div>

                <div class="row">
                    <div class="col-mg-6 single-b-wrap">        <!--for share button-->
                        <button type="button" class="btn btn-primary" id="shareBtn" style="display: none"><i
                                class="fa fa-share" area-hidden="true"></i>Share
                        </button>
                    </div>


                    <div class="container row" id="social_share_links">
                        <div class="col-lg-6 single-b-wrap col-md-12">          <!--for social media button-->

                            <ul>
                                <div class="share-btn">
                                    <h6 id="share_text">Share</h6>
                                    <a href="#" target="_blank" class="facebook-btn">
                                        <i class="fab fa-facebook"></i>
                                    </a>
                                    <a href="#" target="_blank" class="twitter-btn">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                    <a href="#" target="_blank" class="linkedin-btn">
                                        <i class="fab fa-linkedin-square"></i>
                                    </a>
                                    <a href="#" target="_blank" class="whatsapp-btn">
                                        <i class="fab fa-whatsapp-square"></i>
                                    </a>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class=" container row">
            <HR noshade size="5" width="100%" align="" id="HRline">
        </div>

        <div class="container">
            {%if detail.image%}
<!--            <img src="{{detail.image.url}}" alt="loading image" class="note-float-left">-->
            <img src="{{detail.image.url}}" onerror="this.src='/static/mediaapp/img/For_Update.gif'" class="note-float-left">
            {%else%}
            <img src="/static/mediaapp/img/For_Update.gif'" onerror="this.src='/static/mediaapp/img/For_Update.gif'" class="note-float-left">
            {%endif%}


            <p class="" id="description">{{detail.description|safe}}</p>

            <div class="row" id="bottom">
                {% for i in data %}
                {% if i.link%}
                <h6 id="link"><a href="{{i.link}}" target="_blank">Click here for more details</a></h6>
                {%endif%}
                {%endfor%}

                {% if detail.document %}
                <h6 id="pdf"><a href="{{detail.document.url}}" class="note-float-left" target="_blank">Click here for doccuments </a></h6>
                {%endif%}
            </div>

        </div>
        {%endfor%}

    </div>
</section>

{% endblock %}
