{% extends 'mediaapp/base.html'%}
{% load legal_filters %}
{% load static %}
{% block title %}Refund/Cancellation Policy{% endblock %}
{% block Keywords %}Refund/Cancellation Policy{% endblock %}
{% block Description %}Refund/Cancellation Policy{% endblock %}

{% block body_block %}
<div class="container">
<p align="center" style="font-size: large; margin-top:30px; font-size:25px"><span><u><strong>Refund/Cancellation Policy</strong></u></span></p>
<p>At Legtech Services Private Limited, our aim is to provide 100% satisfaction to our customers. However, we do not provide refunds on the period of subscription that has already elapsed.</p>
<p>However, if at any time you wish to cancel the remaining part of your monthly or your annual subscription, please write to us at<span style="font-family: Roboto, serif;"><span style="font-size: medium;">&nbsp;<a href="mailto:support@legtech.in">support@legtech.in</a> </span></span></p>
<p><br /> </p>
</div>
{% endblock %}
