<!-- <!DOCTYPE html> -->
{% extends 'mediaapp/base.html'%}
{% block title %}About Us{% endblock %}
{% block Keywords %}Leg-Tech stand for Legal and Technology company.{% endblock %}
{% block Description %}Leg-Tech stand for Legal and Technology company.{% endblock %}

{% load static %}

{% block body_block %}
<!--==========================
  Intro Section                             ******  Different  *****
============================-->
<section id="intro">
    <div class="intro-content">
        <h2>Making <span>Legal Work</span><br>Simpler</h2>
    </div>


    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
              <img class="d-block w-100" src='/static/mediaapp/img/intro-carousel/4.jpg' alt="Second slide">
          </div>
          <div class="carousel-item ">
              <img class="d-block w-100" src='/static/mediaapp/img/intro-carousel/3.jpg' alt="Second slide">
          </div>
          <div class="carousel-item ">
              <img class="d-block w-100" src='/static/mediaapp/img/intro-carousel/5.jpg' alt="Second slide">
          </div>

        </div>
    </div>

</section><!-- #intro -->




<main id="main">

  <!--==========================
    About Section
  ============================-->
  <section id="about" class="wow fadeInUp">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 about-img">
          <img src="img/about-img.jpg" alt="">
        </div>

        <div class="col-lg-6 content">
          <h2>Leg-Tech stand for Legal and Technology company. </h2>
          <h3>In the present era of digitization this is need of Legal fraternity. This is essential for each and every professional such as lawyer, Compliance officer, Auditor or individual.</h3>
    <h3>Leg-tech is synthesis of Legal and Technology. Leg-tech is formed with vision of streamlining legal technologies across all the industries. We have combination of Technology and Legal expertise to provide comprehensive IT-enabled Legal Solution to cater every size of organization.</h3>


        </div>
      </div>

    </div>
  </section><!-- #about -->



</main>

<!--==========================
  Footer
============================-->
<footer id="footer">
  <div class="container">
    <div class="copyright">

    </div>

  </div>
</footer><!-- #footer -->

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

{% endblock %}
