<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>{% block title %}Legtech Service Pvt Ltd{% endblock%}</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="{% block Keywords %}{% endblock %}" name="keywords" />
    <meta content="{% block Description %}{% endblock %}" name="description" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@LegtechIindia" />
    <meta name="twitter:creator" content="@LegtechIindia" />
    <meta name="twitter:title" content="{% block TITLE %}{% endblock %}" />
    <meta name="twitter:description" content="{% block DESCRIPTION %}{% endblock %}" />
    <meta name="twitter:image" content="{% block IMAGE %}{% endblock %}" />
    <meta name="twitter:domain" content="legtech.co.in" />

    <meta property="og:title" content="{% block Title %}{% endblock %}" />
    <meta property="og:image" content="{% block Image %}{% endblock %}" />
    <meta property="og:description" content="{% block description %}{% endblock %}" />

    <!---Google Fonts ------->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700"
          rel="stylesheet">

    <!--Bootstrap CSS File ----->
    <link rel="stylesheet" href="{% static 'mediaapp/lib/bootstrap/css/bootstrap.min.css' %}"/>

    <!---Libraries CSS Files ----->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"/>

    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.6.3/css/fontawesome.css"
          integrity="sha384-jLuaxTTBR42U2qJ/pm4JRouHkEDHkVqH0T1nyQXn1mZ7Snycpf6Rl25VBNthU4z0"
          crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous">
    </script>

    <link rel="stylesheet" href="{% static 'mediaapp/lib/font-awesome/css/font-awesome.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'mediaapp/lib/animate/animate.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'mediaapp/lib/ionicons/css/ionicons.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'mediaapp/lib/owlcarousel/assets/owl.carousel.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'mediaapp/lib/magnific-popup/magnific-popup.css' %}"/>
    <link rel="stylesheet" href="{% static 'mediaapp/lib/ionicons/css/ionicons.min.css' %}"/>
    <link href="/static/mediaapp/img/favicon.png" rel="icon">
    <link href="/static/mediaapp/img/favicon.png" rel="apple-touch-icon">
    <!--- Main Stylesheet File ------>
    <link rel="stylesheet" href="{% static 'mediaapp/css/mediaappv1.4.css' %}"/>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-CND1L1NR3R"></script>
    <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-CND1L1NR3R');





    </script>
</head>

<body id="body">

<!--==========================
    Top Bar
  ============================-->
<section id="topbar" class="d-none d-lg-block">
    <div class="container clearfix">
        <div class="contact-info float-left">
            <i class="fa fa-envelope-o"></i> <a href="mailto:sales@legtech.in">sales@legtech.in</a>
            <i class="fa fa-phone"></i> +91 9970174555
        </div>
        <div class="social-links float-right">
            <a href="#" class="twitter">
                <i class="fa fa-twitter-square"></i>
            </a>


            <a href="https://www.facebook.com/LegTech-Services-Pvt-Ltd-110099194498257" target="_blank" class="facebook"><i
                    class="fa fa-facebook-square"></i></a>

            <a href="https://www.linkedin.com/company/legtech-services-pvt-ltd" target="_blank" class="linkedin"><i
                    class="fa fa-linkedin-square"></i></a>
            <a href="https://t.me/s/legtechlegalupdates" target="_blank" class="telegram"><i class="fa fa-telegram"></i></a>

        </div>
    </div>
</section>

<!--==========================
    Header
  ============================-->
<header id="header">
    <div class="container">

        <div id="logo" class="pull-left">
            <h1><a href="/" style="Margin-top:-14px" class="scrollto"><img
                    src="https://legtech.in/static/mediaapp/img/Logo.png"/></a></h1>
        </div>

        <nav id="nav-menu-container">
            <ul class="nav-menu">
                <li class="menu-active"><a href="/">Home</a></li>
                <li><a href="/aboutus">About Us</a></li>
                <li class="menu-has-children"><a href="#">Products</a>
                    <ul>
                        <li><a href="/LitigationManagement">Litigation Management</a></li>
                        <li><a href="/ComplianceManagement">Compliance Management</a></li>
                        <li><a href="/LicenseRegistrationandTesting">License, Registration and Testing</a></li>
                        <li><a href="/Insidertrading">Insider trading</a></li>
                    </ul>
                </li>

                <li class="menu-has-children"><a href="">Services</a>
                    <ul>
                        <li><a href="/LegalComplianceAudit">Legal Compliance Audit</a></li>
                        <li><a href="/ComplianceTrainingandSeminars">Compliance Training and Seminars</a></li>
                        <li><a href="/ComplianceUpdates">Compliance Updates</a></li>
                        <li><a href="/LegalComplianceSystemAudit">Legal Compliance System Audit</a></li>
                    </ul>
                </li>
                <li><a href="/legalupdates">Legal Updates</a></li>
                <li><a href="/Contactus">Contact Us</a></li>
            </ul>
        </nav><!-- #nav-menu-container -->
    </div>
</header><!-- #header -->
<!--<div class="container">-->
{% block body_block %}

{% endblock %}
<!-------------------------------------->
<!--footer starts from here-->
<div id="base_footer">
<footer class="footer">
<div class="container bottom_border">
<div class="row">
<div class=" col-sm-4 col-md col-sm-4  col-12 col">
<h6 class="headin5_amrc col_white_amrc pt2">FIND US</h6><hr class="hr1" size="10" align="left" color="white">
<!--headin5_amrc-->
<!-- <p class="mb10">Leg-Tech stand for Legal and Technology company.</p>
<p class="mb11">In the present era of digitization this is need of Legal fraternity. This is essential for each and every professional such as lawyer, Compliance officer, Auditor or individual.</p> -->
<p><i class="fa fa-location-arrow"></i> Legtech service Pvt Ltd, 401, Navale <span class="mb12">Icon, Near Narhe, Pune.</span> </p>
<p><i class="fa fa-phone"></i>  +91-9970174555  </p>
<li><a href="mailto:sales@legtech.in" target="_blank" id="mail"><i class="fa fa fa-envelope"></i> sales@legtech.in </a></li>


<ul class="social_footer_ul">
<li><a href="https://www.facebook.com/LegTech-Services-Pvt-Ltd-110099194498257" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
<li><a href="https://www.linkedin.com/company/legtech-services-pvt-ltd" target="_blank"><i class="fab fa-linkedin"></i></a></li>
<li><a href="https://t.me/s/legtechlegalupdates" target="_blank" class="telegram"><i class="fa fa-telegram"></i></a></li>
</ul>



</div>


<div class=" col-sm-4 col-md  col-6 col">
<h6 class="headin5_amrc col_white_amrc pt2">PRODUCTS</h6><hr class="hr1" size="10" align="left" color="white">
<!--headin5_amrc-->
<ul class="footer_ul_amrc">
  <li><a href="/LitigationManagement">Litigation Management</a></li>
  <li><a href="/ComplianceManagement">Compliance Management</a></li>
  <li><a href="/LicenseRegistrationandTesting">License, Registration and Testing</a></li>
  <li><a href="/Insidertrading">Insider trading</a></li>
</ul>
<!--footer_ul_amrc ends here-->
</div>


<div class=" col-sm-4 col-md  col-6 col">
<h6 class="headin5_amrc col_white_amrc pt2">SERVICES</h6><hr class="hr1" size="10" align="left" color="white">
<!--headin5_amrc-->
<ul class="footer_ul_amrc">
  <li><a href="/LegalComplianceAudit">Legal Compliance Audit</a></li>
  <li><a href="/ComplianceTrainingandSeminars">Compliance Training and Seminars</a></li>
  <li><a href="/ComplianceUpdates">Compliance Updates</a></li>
  <li><a href="/LegalComplianceSystemAudit">Legal Compliance System Audit</a></li>
</ul>
<!--footer_ul_amrc ends here-->
</div>


<div class=" col-sm-4 col-md  col-6 col">
<h6 class="headin5_amrc col_white_amrc pt2">POLICY</h6><hr class="hr1" size="10" align="left" color="white">


<!--headin5_amrc-->
<ul class="footer_ul_amrc">
<li><a href="{%url 'Privacy_Policy' %}">Privacy policy</a></li>
<li><a href="{%url 'Terms_of_service' %}">Terms of service</a></li>
<li><a href="{%url 'Refund_Cancellation_Policy' %}">Refund/Cancellation Policy</a></li>

</ul>
<!--footer_ul_amrc ends here-->
</div>


<div class=" col-sm-4 col-md  col-12 col">
<h5 class="headin5_amrc col_white_amrc pt2">ABOUT</h5><hr class="hr1" size="10" align="left" color="white">

<ul class="footer_ul2_amrc">
    <li><a href="/">Home</a></li>
    <li><a href="/aboutus">About Us</a></li>
    <li><a href="/Contactus">Contact Us</a></li>
    <li><a href="/legalupdates">Legal Updates</a></li>
</ul>
</div>
</div>
</div>


<div class="container botom">
<!--<ul class="foote_bottom_ul_amrc">-->
<!--<li><a href="/">Home</a></li>-->
<!--<li><a href="/aboutus">About Us</a></li>-->
<!--<li><a href="/Contactus">Contact Us</a></li>-->
<!--</ul>-->
<!--foote_bottom_ul_amrc ends here-->
<p class="text-center">Copyright @2021 | Designed With by <a href="/">LegTech Services Pvt. Ltd.</a></p>


<!--social_footer_ul ends here-->
</div>

</footer>
</div>
 <!-- end footer -->



<!--</div>-->
<!--- JavaScript Libraries ------>
<script src="{% static 'mediaapp/lib/jquery/jquery.min.js' %}"></script>
<script src="{% static 'mediaapp/lib/jquery/jquery-migrate.min.js' %}"></script>
<script src="{% static 'mediaapp/lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'mediaapp/lib/easing/easing.min.js' %}"></script>
<script src="{% static 'mediaapp/lib/superfish/hoverIntent.js' %}"></script>
<script src="{% static 'mediaapp/lib/superfish/superfish.min.js' %}"></script>
<script src="{% static 'mediaapp/lib/wow/wow.min.js' %}"></script>
<script src="{% static 'mediaapp/lib/owlcarousel/owl.carousel.min.js' %}"></script>
<script src="{% static 'mediaapp/lib/magnific-popup/magnific-popup.min.js' %}"></script>
<script src="{% static 'mediaapp/lib/sticky/sticky.js' %}"></script>

<!-- Contact Form JavaScript File -->
<script src="{% static 'mediaapp/contactform/contactform.js' %}"></script>

<!-- Template Main Javascript File -->
<script src="{% static 'mediaapp/js/mainv1.2.js' %}"></script>

</body>
</html>
