{% extends 'mediaapp/base.html'%}
{% block title %}Compliance Management{% endblock %}
{% block Keywords %}Legal compliance Audit, Statutory compliance Audit, Factory compliance, Contract labour compliance, ROC compliance{% endblock %}
{% block Description %}Expert Legal Compliance Audit company in India{% endblock %}

{% load static %}



{% block body_block %}

<!--==========================
  Intro Section                             ******  Different  *****
============================-->
<section id="intro">
    <div class="intro-content">
        <h2>Compliance <span>Management</span><br></h2>
    </div>


    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
              <img class="d-block w-100" src='/static/mediaapp/img/intro-carousel/3.jpg' alt="Second slide">
          </div>

        </div>
    </div>

</section><!-- #intro -->



<main id="main">

  <!--==========================
    About Section
  ============================-->
  <section id="about" class="wow fadeInUp">
    <div class="container">
      <div class="row">

        <div class="col-lg-12 content">

          <h3>We have expertise in legal compliance management domain. We know importance of compliances as well as important compliances. We understand quality of compliance is important than quantity of compliances.  We can provide you solution which will help your team to manage compliances without difficulty.</h3>


        </div>
      </div>

    </div>
  </section><!-- #about -->

  <!--==========================
    Services Section
  ============================-->
  <section id="services">
    <div class="container">
      <div class="section-header">
        <h2>Our Solution: -</h2>
        <p></p>
      </div>

      <div class="row">
   <UL>
      <li>Compliance management solution to track your important compliances</li>
      <li>Customized graphs, Charts and Reports  </li>
      <li>Timely alert to respective user based on frequency and decided intervals </li>
      <li>Capability to upload multiple documents against each compliance </li>
      <li>Facility to create multiple checks of uploaded documents </li>
      <li>Ability to set risk against each compliance</li>

  <UL>
      </div>

    </div>
  </section><!-- #services -->



</main>

<!--==========================
  Footer
============================-->
<footer id="footer">
  <div class="container">
    <div class="copyright">

    </div>

  </div>
</footer><!-- #footer -->

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

{% endblock %}
