{% extends 'mediaapp/base.html'%}
{% block title %}Compliance Training and Seminars{% endblock %}
{% block Keywords %}Learn compliance framework, understand compliance compliance complexity, Statutory Compliance, Contract labour compliance, ROC compliance{% endblock %}
{% block Description %}Training by compliance expert in India{% endblock %}
{% load static %}





{% block body_block %}
<!--==========================
  Intro Section                             ******  Different  *****
============================-->
<section id="intro">
    <div class="intro-content">
        <h2>Compliance <span>Training and</span><br>Seminars</h2>
    </div>


    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
              <img class="d-block w-100" src='/static/mediaapp/img/intro-carousel/5.jpg' alt="Second slide">
          </div>
          <div class="carousel-item ">
              <img class="d-block w-100" src='/static/mediaapp/img/intro-carousel/4.jpg' alt="Second slide">
          </div>

        </div>
    </div>

</section><!-- #intro -->




<main id="main">

  <!--==========================
    About Section
  ============================-->
  <section id="about" class="wow fadeInUp">
    <div class="container">
      <div class="row">

        <div class="col-lg-12 content">

          <h3>Leg-Tech can provide compliance trainings and seminars on applicable compliances of all category of laws and new amendments in law. Which enables employees to understand the changes easily with practical approach. </h3>


        </div>
      </div>

    </div>
  </section><!-- #about -->

  <!--==========================
    Services Section
  ============================-->
  <section id="services">
    <div class="container">
      <div class="section-header">
        <h2>What We do: -</h2>
        <p></p>
      </div>

      <div class="row">
   <UL>
    <li>Introduction</li>
    <li>Presentation on applicable compliances of all category of laws</li>
    <li>Presentation on Amendments </li>
    <li>Practical changes in day to day working due to changes in law</li>
    <li>Q&A</li>
    <li>Circulation of Study Material in Digital Form  </li>

  <UL>
      </div>

    </div>
  </section><!-- #services -->



</main>

<!--==========================
  Footer
============================-->
<footer id="footer">
  <div class="container">
    <div class="copyright">

    </div>

  </div>
</footer><!-- #footer -->

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

{% endblock %}
