{% extends 'mediaapp/base.html'%}
{% block title %}Compliance Updates{% endblock %}
{% block Keywords %}Cetral updates, state updates, regultor updates{% endblock %}
{% block Description %}Legal compliance updates company in India{% endblock %}
{% load static %}



{% block body_block %}
<!--==========================
  Intro Section                             ******  Different  *****
============================-->
<section id="intro">
    <div class="intro-content">
        <h2>Compliance <span>Updates</span><br></h2>
    </div>


    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
              <img class="d-block w-100" src='/static/mediaapp/img/intro-carousel/5.jpg' alt="Second slide">
          </div>

        </div>
    </div>

</section><!-- #intro -->


<main id="main">

  <!--==========================
    About Section
  ============================-->
  <section id="about" class="wow fadeInUp">
    <div class="container">
      <div class="row">

        <div class="col-lg-12 content">

          <h3>We can provide you legal update on any frequency which you define. If you have Legal database and if you are not updating it on regular basis your database might be useless after some time. We are ready to help you.</h3>


        </div>
      </div>

    </div>
  </section><!-- #about -->

  <!--==========================
    Services Section
  ============================-->
  <section id="services">
    <div class="container">
      <div class="section-header">
        <h2>What We do: -</h2>
        <p></p>
      </div>

      <div class="row">
   <UL>
     <li>Team of lawyers to track and identify changes of newly enacted and amended laws </li>
     <li>Proper analysis of the relevant legal update.</li>
     <li>Summarization of update in easy language </li>
     <li>Circulation of update and per defined frequency </li>

  <UL>
      </div>

    </div>
  </section><!-- #services -->



</main>

<!--==========================
  Footer
============================-->
<footer id="footer">
  <div class="container">
    <div class="copyright">

    </div>

  </div>
</footer><!-- #footer -->

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

{% endblock %}
