{% extends 'mediaapp/base.html'%}
{% load legal_filters %}
{% load static %}
{% block title %}Legtech Service Pvt Ltd{% endblock %}
{% block Keywords %}Compliance, Legal technology, Governance risk compliance, legal Audits, Litigation{% endblock %}
{% block Description %}Legal technology company in India and global{% endblock %}





{% block body_block %}
<!--==========================
  Intro Section                             ******  Different  *****
============================-->
<section id="intro">
    <div class="intro-content">
        <h2>Making <span>Legal Work</span><br>Simpler</h2>
<!--        <div>-->
<!--            <a href="#about" class="btn-get-started scrollto">Get Started</a>-->
<!--            <a href="#services" class="btn-projects scrollto">Our Services</a>-->
<!--        </div>-->
    </div>


    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
              <img class="d-block w-100" src='/static/mediaapp/img/intro-carousel/1.jpg' alt="First slide">
          </div>
          <div class="carousel-item">
              <img class="d-block w-100" src='/static/mediaapp/img/intro-carousel/2.jpg' alt="Second slide">
          </div>
          <div class="carousel-item">
              <img class="d-block w-100" src='/static/mediaapp/img/intro-carousel/3.jpg' alt="Third slide">
          </div>
          <div class="carousel-item">
              <img class="d-block w-100" src='/static/mediaapp/img/intro-carousel/4.jpg' alt="Forth slide">
          </div>
          <div class="carousel-item">
              <img class="d-block w-100" src='/static/mediaapp/img/intro-carousel/5.jpg' alt="Fith slide">
          </div>

        </div>
    </div>

</section><!-- #intro -->

<!--<section id="intro">-->
<!--    <div class="intro-content">-->
<!--        {% block intro %}<h2>Making <span>Legal Work</span><br>Simpler</h2>{% endblock %}-->
<!--        <div>-->
<!--            <a href="#about" class="btn-get-started scrollto">Get Started</a>-->
<!--            <a href="#services" class="btn-projects scrollto">Our Services</a>-->
<!--        </div>-->
<!--    </div>-->


<!--    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">-->
<!--        <div class="carousel-inner">-->
<!--            <div class="carousel-item active">-->
<!--                <img class="d-block w-100" src='static/mediaapp/img/intro-carousel/1.jpg' alt="First slide">-->
<!--            </div>-->
<!--            <div class="carousel-item">-->
<!--                <img class="d-block w-100" src='static/mediaapp/img/intro-carousel/2.jpg' alt="Second slide">-->
<!--            </div>-->
<!--            <div class="carousel-item">-->
<!--                <img class="d-block w-100" src='static/mediaapp/img/intro-carousel/3.jpg' alt="Third slide">-->
<!--            </div>-->
<!--            <div class="carousel-item">-->
<!--                <img class="d-block w-100" src='static/mediaapp/img/intro-carousel/4.jpg' alt="Forth slide">-->
<!--            </div>-->
<!--            <div class="carousel-item">-->
<!--                <img class="d-block w-100" src='static/mediaapp/img/intro-carousel/5.jpg' alt="Fith slide">-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->


<!--    <div id="intro-carousel" class="owl-carousel">-->
<!--        <div class="item" style="background-image: url('static/mediaapp/img/intro-carousel/1.jpg');"></div>-->
<!--        <div class="item" style="background-image: url('static/mediaapp/img/intro-carousel/2.jpg');"></div>-->
<!--        <div class="item" style="background-image: url('static/mediaapp/img/intro-carousel/3.jpg');"></div>-->
<!--        <div class="item" style="background-image: url('static/mediaapp/img/intro-carousel/4.jpg');"></div>-->
<!--        <div class="item" style="background-image: url('static/mediaapp/img/intro-carousel/5.jpg');"></div>-->
<!--    </div>-->
<!--</section>&lt;!&ndash; #intro &ndash;&gt;-->

<main id="main">

    <!--==========================
      About Section                                ******  Different  *****
    ============================-->
    <!--  <section id="about" class="wow fadeInUp">-->
    <!--    <div class="container">-->
    <!--      <div class="row">-->
    <!--        <div class="col-lg-6 about-img">-->
    <!--          <img src="img/about-img.jpg" alt="">-->
    <!--        </div>-->

    <!--        <div class="col-lg-6 content">-->
    <!--          <h2>Leg-Tech stand for Legal and Technology company. </h2>-->
    <!--          <h3>In the present era of digitization this is need of Legal fraternity. This is essential for each and every professional such as lawyer, Compliance officer, Auditor or individual.</h3>-->
    <!--    <h3>Leg-tech is synthesis of Legal and Technology. Leg-tech is formed with vision of streamlining legal technologies across all the industries. We have combination of Technology and Legal expertise to provide comprehensive IT-enabled Legal Solution to cater every size of organization. </h3>-->


    <!--        </div>-->

    <!--      </div>-->

    <!--    </div>-->
    <!--  </section>    &lt;!&ndash; #about&ndash;&gt;-->

    <!-- ==========================
      LigalList Cards Section
    ============================ -->

    <section id="ligallists">
        <div class="container">

            {%if data%}
            <div class="section-header">
                <h2>Legal Updates</h2>
                <p></p>
            </div>
            <div class="row" id="legallistsdata">
                {% for card in data %}

                <div class="col-sm-4">
                    <a class="card-block stretched-link text-decoration-none"
                       href="/{{card.id}}/{{card.slug}}/LegalUpdates">
                        <div class="card h-100 focusable" style="margin-bottom:20px;min-height: 140px;height: 140px;">
                            <div class="card-body">
                                <h5 class="card-title"><span class="ltitle">{{card.title|titlecharacterlimit|add:'...'}}</span>

                                <h6 class="card-subtitle mb-2 text-muted">{{card.date}}</h6>
                                

                            </div>
                        </div>
                    </a>
                </div>

                {% endfor %}
            </div>
            <div class="row" id="legallistsdata1" style="float: right;margin-right: 5px;margin-top: 5px;"><a
                    href="/legalupdates/">Read more</a></div>
            {%endif%}
        </div>
    </section>


    <!--==========================
      Services Section                            ******  Different  *****
    ============================-->
    <section id="services">
        <div class="container">
            <div class="section-header">
                <h2>Services</h2>
                <p></p>
            </div>

            <div class="row">

                <div class="col-lg-6">
                    <div class="box wow fadeInLeft">
                        <div class="icon"><i class="fa fa-bar-chart"></i></div>
                        <h4 class="title"><a href="">Legal Compliance Audit </a></h4>
                        <p class="description">Have you done Legal Compliance Audit of your organization? Legal
                            compliance audit is one of the important factor in present days. We usually do financial
                            audit and Secretarial audit but are we doing legal compliance audit? In most of the cases
                            answer is NO. But need not be worry, we are here to help you. <a
                                    href="LegalComplianceAudit">Read More</a></p>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="box wow fadeInRight">
                        <div class="icon"><i class="fa fa-picture-o"></i></div>
                        <h4 class="title"><a href="">Compliance Training and Seminars </a></h4>
                        <p class="description">Leg-Tech can provide compliance trainings and seminars on applicable
                            compliances of all category of laws and new amendments in law. Which enables employees to
                            understand the changes easily with practical approach. <a
                                    href="ComplianceTrainingandSeminars">Read More</a></p>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="box wow fadeInLeft" data-wow-delay="0.2s">
                        <div class="icon"><i class="fa fa-shopping-bag"></i></div>
                        <h4 class="title"><a href="">Compliance Updates</a></h4>
                        <p class="description">We can provide you legal update on any frequency which you define. If you
                            have Legal database and if you are not updating it on regular basis your database might be
                            useless after some time. We are ready to help you. <a href="ComplianceUpdates">Read More</a>
                        </p>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="box wow fadeInRight" data-wow-delay="0.2s">
                        <div class="icon"><i class="fa fa-map"></i></div>
                        <h4 class="title"><a href="">Legal Compliance System Audit</a></h4>
                        <p class="description">Do you have legal compliances system to track your day-to-day
                            compliances? YES. Have you done 3rd party audit of your system to identify gaps in system?
                            NO. This is the time to start complete gap analysis of your system. <a
                                    href="LegalComplianceSystemAudit">Read More</a></p>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="box wow fadeInLeft">
                        <div class="icon"><i class="fa fa-bar-chart"></i></div>
                        <h4 class="title"><a href="">Insider trading Application </a></h4>
                        <p class="description">Have you done Legal Compliance Audit of your organization? Legal
                            compliance audit is one of the important factor in present days. We usually do financial
                            audit and Secretarial audit but are we doing legal compliance audit? In most of the cases
                            answer is NO. But need not be worry, we are here to help you. <a href="Insidertrading">Read
                                More</a></p>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="box wow fadeInRight">
                        <div class="icon"><i class="fa fa-picture-o"></i></div>
                        <h4 class="title"><a href="">Litigation Management </a></h4>
                        <p class="description">Are you lawyer? Do you involve in any litigation? How you are tracking
                            your cases. Leg-Tech is providing end to end litigation management system. Litigation
                            management system will provide you timely alert, expense tracker as well as data and
                            document management. <a href="LitigationManagement">Read More</a></p>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="box wow fadeInLeft" data-wow-delay="0.2s">
                        <div class="icon"><i class="fa fa-shopping-bag"></i></div>
                        <h4 class="title"><a href="">Compliance Management </a></h4>
                        <p class="description">We have expertise in legal compliance management domain. We know
                            importance of compliances as well as important compliances. We understand quality of
                            compliance is important than quantity of compliances. We can provide you solution which will
                            help your team to manage compliances without difficulty. <a href="ComplianceManagement">Read
                                More</a></p>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="box wow fadeInRight" data-wow-delay="0.2s">
                        <div class="icon"><i class="fa fa-map"></i></div>
                        <h4 class="title"><a href="">License, Registration and Testing </a></h4>
                        <p class="description">License, Registration and Testing are significant part any business. If
                            we missed to any renewal date, we have to pay significant amount of fine or business might
                            be in trouble. We are providing solution to track your all License, Registration and Testing
                            as per their statuses, such as applied, renewed, pending etc. <a
                                    href="LicenseRegistrationandTesting">Read More</a></p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- #services -->

    <!--==========================
      Clients Section
    ============================-->
    <section id="clients" class="wow fadeInUp" style="display:none;">
        <div class="container">
            <div class="section-header">
                <h2>Clients</h2>
                <p>Sed tamen tempor magna labore dolore dolor sint tempor duis magna elit veniam aliqua esse amet veniam
                    enim export quid quid veniam aliqua eram noster malis nulla duis fugiat culpa esse aute nulla ipsum
                    velit export irure minim illum fore</p>
            </div>

            <div class="owl-carousel clients-carousel">
                <img src="img/clients/client-1.png" alt="">
                <img src="img/clients/client-2.png" alt="">
                <img src="img/clients/client-3.png" alt="">
                <img src="img/clients/client-4.png" alt="">
                <img src="img/clients/client-5.png" alt="">
                <img src="img/clients/client-6.png" alt="">
                <img src="img/clients/client-7.png" alt="">
                <img src="img/clients/client-8.png" alt="">
            </div>

        </div>
    </section><!-- #clients -->

    <!--==========================
      Our Portfolio Section
    ============================-->
    <section id="portfolio" class="wow fadeInUp" style="display:none;">
        <div class="container">
            <div class="section-header">
                <h2>Our Portfolio</h2>
                <p>Sed tamen tempor magna labore dolore dolor sint tempor duis magna elit veniam aliqua esse amet veniam
                    enim export quid quid veniam aliqua eram noster malis nulla duis fugiat culpa esse aute nulla ipsum
                    velit export irure minim illum fore</p>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row no-gutters">

                <div class="col-lg-3 col-md-4">
                    <div class="portfolio-item wow fadeInUp">
                        <a href="img/portfolio/1.jpg" class="portfolio-popup">
                            <img src="img/portfolio/1.jpg" alt="">
                            <div class="portfolio-overlay">
                                <div class="portfolio-info"><h2 class="wow fadeInUp">Portfolio Item 1</h2></div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="portfolio-item wow fadeInUp">
                        <a href="img/portfolio/2.jpg" class="portfolio-popup">
                            <img src="img/portfolio/2.jpg" alt="">
                            <div class="portfolio-overlay">
                                <div class="portfolio-info"><h2 class="wow fadeInUp">Portfolio Item 2</h2></div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="portfolio-item wow fadeInUp">
                        <a href="img/portfolio/3.jpg" class="portfolio-popup">
                            <img src="img/portfolio/3.jpg" alt="">
                            <div class="portfolio-overlay">
                                <div class="portfolio-info"><h2 class="wow fadeInUp">Portfolio Item 3</h2></div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="portfolio-item wow fadeInUp">
                        <a href="img/portfolio/4.jpg" class="portfolio-popup">
                            <img src="img/portfolio/4.jpg" alt="">
                            <div class="portfolio-overlay">
                                <div class="portfolio-info"><h2 class="wow fadeInUp">Portfolio Item 4</h2></div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="portfolio-item wow fadeInUp">
                        <a href="img/portfolio/5.jpg" class="portfolio-popup">
                            <img src="img/portfolio/5.jpg" alt="">
                            <div class="portfolio-overlay">
                                <div class="portfolio-info"><h2 class="wow fadeInUp">Portfolio Item 5</h2></div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="portfolio-item wow fadeInUp">
                        <a href="img/portfolio/6.jpg" class="portfolio-popup">
                            <img src="img/portfolio/6.jpg" alt="">
                            <div class="portfolio-overlay">
                                <div class="portfolio-info"><h2 class="wow fadeInUp">Portfolio Item 6</h2></div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="portfolio-item wow fadeInUp">
                        <a href="img/portfolio/7.jpg" class="portfolio-popup">
                            <img src="img/portfolio/7.jpg" alt="">
                            <div class="portfolio-overlay">
                                <div class="portfolio-info"><h2 class="wow fadeInUp">Portfolio Item 7</h2></div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="portfolio-item wow fadeInUp">
                        <a href="img/portfolio/8.jpg" class="portfolio-popup">
                            <img src="img/portfolio/8.jpg" alt="">
                            <div class="portfolio-overlay">
                                <div class="portfolio-info"><h2 class="wow fadeInUp">Portfolio Item 8</h2></div>
                            </div>
                        </a>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- #portfolio -->

    <!--==========================
      Testimonials Section
    ============================-->
    <section id="testimonials" class="wow fadeInUp" style="display:none;">
        <div class="container">
            <div class="section-header">
                <h2>Testimonials</h2>
                <p>Sed tamen tempor magna labore dolore dolor sint tempor duis magna elit veniam aliqua esse amet veniam
                    enim export quid quid veniam aliqua eram noster malis nulla duis fugiat culpa esse aute nulla ipsum
                    velit export irure minim illum fore</p>
            </div>
            <div class="owl-carousel testimonials-carousel">

                <div class="testimonial-item">
                    <p>
                        <img src="img/quote-sign-left.png" class="quote-sign-left" alt="">
                        Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus.
                        Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                        <img src="img/quote-sign-right.png" class="quote-sign-right" alt="">
                    </p>
                    <img src="img/testimonial-1.jpg" class="testimonial-img" alt="">
                    <h3>Saul Goodman</h3>
                    <h4>Ceo &amp; Founder</h4>
                </div>

                <div class="testimonial-item">
                    <p>
                        <img src="img/quote-sign-left.png" class="quote-sign-left" alt="">
                        Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram
                        malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                        <img src="img/quote-sign-right.png" class="quote-sign-right" alt="">
                    </p>
                    <img src="img/testimonial-2.jpg" class="testimonial-img" alt="">
                    <h3>Sara Wilsson</h3>
                    <h4>Designer</h4>
                </div>

                <div class="testimonial-item">
                    <p>
                        <img src="img/quote-sign-left.png" class="quote-sign-left" alt="">
                        Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis
                        minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                        <img src="img/quote-sign-right.png" class="quote-sign-right" alt="">
                    </p>
                    <img src="img/testimonial-3.jpg" class="testimonial-img" alt="">
                    <h3>Jena Karlis</h3>
                    <h4>Store Owner</h4>
                </div>

                <div class="testimonial-item">
                    <p>
                        <img src="img/quote-sign-left.png" class="quote-sign-left" alt="">
                        Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim
                        velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum
                        veniam.
                        <img src="img/quote-sign-right.png" class="quote-sign-right" alt="">
                    </p>
                    <img src="img/testimonial-4.jpg" class="testimonial-img" alt="">
                    <h3>Matt Brandon</h3>
                    <h4>Freelancer</h4>
                </div>

                <div class="testimonial-item">
                    <p>
                        <img src="img/quote-sign-left.png" class="quote-sign-left" alt="">
                        Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim
                        culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum
                        quid.
                        <img src="img/quote-sign-right.png" class="quote-sign-right" alt="">
                    </p>
                    <img src="img/testimonial-5.jpg" class="testimonial-img" alt="">
                    <h3>John Larson</h3>
                    <h4>Entrepreneur</h4>
                </div>

            </div>

        </div>
    </section><!-- #testimonials -->

    <!--==========================
      Call To Action Section
    ============================-->
    <section id="call-to-action" class="wow fadeInUp" style="display:none">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 text-center text-lg-left">
                    <h3 class="cta-title">Call To Action</h3>
                    <p class="cta-text"> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                        fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                        deserunt mollit anim id est laborum.</p>
                </div>
                <div class="col-lg-3 cta-btn-container text-center">
                    <a class="cta-btn align-middle" href="#">Call To Action</a>
                </div>
            </div>

        </div>
    </section><!-- #call-to-action -->

    <!--==========================
      Our Team Section
    ============================-->
    <section id="team" class="wow fadeInUp" style="display:none">
        <div class="container">
            <div class="section-header">
                <h2>Our Team</h2>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="member">
                        <div class="pic"><img src="img/team-1.jpg" alt=""></div>
                        <div class="details">
                            <h4>Walter White</h4>
                            <span>Chief Executive Officer</span>
                            <div class="social">
                                <a href=""><i class="fa fa-twitter"></i></a>
                                <a href=""><i class="fa fa-facebook"></i></a>
                                <a href=""><i class="fa fa-google-plus"></i></a>
                                <a href=""><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="member">
                        <div class="pic"><img src="img/team-2.jpg" alt=""></div>
                        <div class="details">
                            <h4>Sarah Jhinson</h4>
                            <span>Product Manager</span>
                            <div class="social">
                                <a href=""><i class="fa fa-twitter"></i></a>
                                <a href=""><i class="fa fa-facebook"></i></a>
                                <a href=""><i class="fa fa-google-plus"></i></a>
                                <a href=""><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="member">
                        <div class="pic"><img src="img/team-3.jpg" alt=""></div>
                        <div class="details">
                            <h4>William Anderson</h4>
                            <span>CTO</span>
                            <div class="social">
                                <a href=""><i class="fa fa-twitter"></i></a>
                                <a href=""><i class="fa fa-facebook"></i></a>
                                <a href=""><i class="fa fa-google-plus"></i></a>
                                <a href=""><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="member">
                        <div class="pic"><img src="img/team-4.jpg" alt=""></div>
                        <div class="details">
                            <h4>Amanda Jepson</h4>
                            <span>Accountant</span>
                            <div class="social">
                                <a href=""><i class="fa fa-twitter"></i></a>
                                <a href=""><i class="fa fa-facebook"></i></a>
                                <a href=""><i class="fa fa-google-plus"></i></a>
                                <a href=""><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- #team -->

    <!--==========================
      Contact Section
    ============================-->
    <section id="contact" class="wow fadeInUp">
        <div class="container">
            <div class="section-header">
                <h2>Contact Us</h2>
            </div>

            <div class="row contact-info">

                <div class="col-md-4">
                    <div class="contact-address">
                        <i class="ion-ios-location-outline"></i>
                        <h3>Address</h3>
                        <address>Legtech service Pvt Ltd, 401, Navale Icon, Near Narhe, Pune.</address>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="contact-phone">
                        <i class="ion-ios-telephone-outline"></i>
                        <h3>Phone Number</h3>
                        <p><a href="tel:+919970174555">+91 9970174555</a></p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="contact-email">
                        <i class="ion-ios-email-outline"></i>
                        <h3>Email</h3>
                        <p><a href="mailto:sales@avantis.co.in">sales@legtech.in</a></p>
                    </div>
                </div>

            </div>
        </div>

        <div class="container mb-4">
            <iframe width="100%" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                    src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=navale%20Icon,%20narhe+(Legtech%20services%20Pvt%20Ltd)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
        </div>

        <div class="container" style="display:none;">
            <div class="form">
                <div id="sendmessage">Your message has been sent. Thank you!</div>
                <div id="errormessage"></div>
                <form action="" method="post" role="form" class="contactForm">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name"
                                   data-rule="minlen:4" data-msg="Please enter at least 4 chars"/>
                            <div class="validation"></div>
                        </div>
                        <div class="form-group col-md-6">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email"
                                   data-rule="email" data-msg="Please enter a valid email"/>
                            <div class="validation"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject"
                               data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject"/>
                        <div class="validation"></div>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" name="message" rows="5" data-rule="required"
                                  data-msg="Please write something for us" placeholder="Message"></textarea>
                        <div class="validation"></div>
                    </div>
                    <div class="text-center">
                        <button type="submit">Send Message</button>
                    </div>
                </form>
            </div>

        </div>
    </section><!-- #contact -->

</main>



{% endblock %}
