{% extends 'mediaapp/base.html'%}
{% block title %}Insider Trading{% endblock %}
{% block Keywords %}Legal compliance Audit, Statutory compliance Audit, Factory compliance, Contract labour compliance, ROC compliance{% endblock %}
{% block Description %}Expert Legal Compliance Audit company in India{% endblock %}

{% load static %}

{% block body_block %}
<!--==========================
  Intro Section                             ******  Different  *****
============================-->
<section id="intro">
    <div class="intro-content">
        <h2>Insider <span>trading</span><br></h2>
    </div>


    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
              <img class="d-block w-100" src='/static/mediaapp/img/intro-carousel/5.jpg' alt="Second slide">
          </div>

        </div>
    </div>

</section><!-- #intro -->




<main id="main">

  <!--==========================
    About Section
  ============================-->
  <section id="about" class="wow fadeInUp">
    <div class="container">
      <div class="row">

        <div class="col-lg-12 content">

          <h3>Insider trading is the trading of a public company's stock or other securities (such as bonds or stock options) based on material, nonpublic information about the company.This is because it is seen as unfair to other investors who do not have access to the information, as the investor with insider information could potentially make larger profits than a typical investor could make.
          Its very difficult companies track the circulation of information and indification/tracking if any one bought stock.
          </h3>


        </div>
      </div>

    </div>
  </section><!-- #about -->

  <!--==========================
    Services Section
  ============================-->
  <section id="services">
    <div class="container">
      <div class="section-header">
        <h2>Our Solution: -</h2>
        <p></p>
      </div>

      <div class="row">
   <UL>
    <li>Will maintain the details of employee</li>
    <li>Using simple benpos upload we will help to indentify employees who bought the stock</li>
    <li>System has all prerequisite rule to check non compliance</li>
  <UL>
      </div>

    </div>
  </section><!-- #services -->



</main>

<!--==========================
  Footer
============================-->
<footer id="footer">
  <div class="container">
    <div class="copyright">

    </div>

  </div>
</footer><!-- #footer -->

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

{% endblock %}
