{% extends 'mediaapp/base.html'%}
{% block title %}Legal Compliance System Audit{% endblock %}
{% block Keywords %}Legal compliance Audit, Statutory compliance Audit, Factory compliance, Contract labour compliance, ROC compliance{% endblock %}
{% block Description %}Expert Legal Compliance Audit company in India{% endblock %}

{% load static %}

{% block body_block %}
<!--==========================
  Intro Section                             ******  Different  *****
============================-->
<section id="intro">
    <div class="intro-content">
        <h2>Legal<span>Compliance</span><br>System Audit</h2>
    </div>


    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
              <img class="d-block w-100" src='/static/mediaapp/img/intro-carousel/2.jpg' alt="Second slide">
          </div>

        </div>
    </div>

</section><!-- #intro -->



<main id="main">

  <!--==========================
    About Section
  ============================-->
  <section id="about" class="wow fadeInUp">
    <div class="container">
      <div class="row">

        <div class="col-lg-12 content">

          <h3>Do you have legal compliances system to track your day-to-day compliances? YES.  Have you done 3rd party audit of your system to identify gaps in system? NO. This is the time to start complete gap analysis of your system.</h3>


        </div>
      </div>

    </div>
  </section><!-- #about -->

  <!--==========================
    Services Section
  ============================-->
  <section id="services">
    <div class="container">
      <div class="section-header">
        <h2>What We do: -</h2>
        <p></p>
      </div>

      <div class="row">
<UL>
<li>Study of your business to identify applicable Laws</li>
<li>Preparation of document requisition list for all category of laws</li>
<li>Location visit for document review and physical verification of day to day compliances by expert lawyers</li>
<li>Verification of conditions of licenses and registrations</li>
<li>Preparation of Audit report with capability to understand compliance and non-compliance with observations and best industry practices</li>
<li>Discussion of audit report with location team and management</li>

<UL>
      </div>

    </div>
  </section><!-- #services -->



</main>

<!--==========================
  Footer
============================-->
<footer id="footer">
  <div class="container">
    <div class="copyright">

    </div>

  </div>
</footer><!-- #footer -->

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

{% endblock %}
