{% extends 'mediaapp/base.html'%}
{% block title %}Legal Updates{% endblock %}
{% block Keywords %}Legal Updates{% endblock %}
{% block Description %}Legal Updates{% endblock %}
{% load legal_filters %}
{% load static %}

{% block body_block %}

<!-- ==========================
    Ligalupdates Cards Section
 ============================ -->

<section id="ligalupdates">

    <div class="container">
        <div class="section-header">
            <h2>Legal Updates</h2>
            <div class="row" id="count">
                <p>Total Legal Update's </p><span style="border-radius: 50%; padding-left: 12px;"> {{data.count}}</span>
            </div>
        </div>
        <div class="row" id="">

            {% for card in data %}

            <div class="col-lg-4 col-sm-6 mt-3" >
                <a class="card-block stretched-link text-decoration-none"
                       href="/{{card.id}}/{{card.slug}}/LegalUpdates">
                        <div class="card h-100 focusable" style="margin-bottom:20px;min-height: 140px;height: 140px;">
                            <div class="card-body">
                                <h5 class="card-title"><span class="ltitle">{{card.title|titlecharacterlimit|add:'...'}}</span>
                                <h6 class="card-subtitle mb-2 text-muted">{{card.date}}</h6>


                            </div>
                        </div>
                </a>


<!--                <a class="card-block stretched-link text-decoration-none"-->
<!--                   href="/{{card.id}}/{{card.slug}}/LegalUpdates">-->
<!--                    <div class="card" style="margin-bottom:10px;min-height: 140px;height: 140px;">-->
<!--                        <div class="card-body">-->
<!--&lt;!&ndash;                            <h5 class="card-title"><span class="ltitle">{{card.title|titlecharacterlimit|add:'...'}}</span></h5>&ndash;&gt;-->
<!--                            <h5 class="card-title"><span class="ltitle">{{card.title}}</span></h5>-->
<!--                            <h6 class="card-subtitle mb-2 text-muted">{{card.date}}</h6>-->
<!--                           -->

<!--                        </div>-->
<!--                    </div>-->
<!--                </a>-->
            </div>

            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
