{% extends 'mediaapp/base.html'%}
{% block title %}License Registration and Testing{% endblock %}
{% block Keywords %}Legal compliance Audit, Statutory compliance Audit, Factory compliance, Contract labour compliance, ROC compliance{% endblock %}
{% block Description %}Expert Legal Compliance Audit company in India{% endblock %}

{% load static %}

{% block body_block %}
<!--==========================
  Intro Section                             ******  Different  *****
============================-->
<section id="intro">
    <div class="intro-content">
        <h2>License, <span>Registration and</span><br>Testing</h2>
    </div>


    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
              <img class="d-block w-100" src='/static/mediaapp/img/intro-carousel/3.jpg' alt="Second slide">
          </div>

        </div>
    </div>

</section><!-- #intro -->



<main id="main">

  <!--==========================
    About Section
  ============================-->
  <section id="about" class="wow fadeInUp">
    <div class="container">
      <div class="row">

        <div class="col-lg-12 content">

          <h3>License, Registration and Testing are significant part any business. If we missed to any renewal date, we have to pay significant amount of fine or business might be in trouble. We are providing solution to track your all License, Registration and Testing as per their statuses, such as applied, renewed, pending etc.  </h3>


        </div>
      </div>

    </div>
  </section><!-- #about -->

  <!--==========================
    Services Section
  ============================-->
  <section id="services">
    <div class="container">
      <div class="section-header">
        <h2>Our Solution: -</h2>
        <p></p>
      </div>

      <div class="row">
<UL>
<li>Solution to track your License, Registration and Testing due dates </li>
<li>Customized graphs, Charts and Reports with actual statuses</li>
<li>Timely alert to respective user based on due date and decided intervals</li>
<li>Capability to upload multiple documents against each compliance </li>

<UL>
      </div>

    </div>
  </section><!-- #services -->



</main>

<!--==========================
  Footer
============================-->
<footer id="footer">
  <div class="container">
    <div class="copyright">

    </div>

  </div>
</footer><!-- #footer -->

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

{% endblock %}
