{% extends 'mediaapp/base.html'%}
{% load static %}
{% block title %}Litigation Management{% endblock %}
{% block Keywords %}Legal compliance Audit, Statutory compliance Audit, Factory compliance, Contract labour compliance, ROC compliance{% endblock %}
{% block Description %}Expert Legal Compliance Audit company in India{% endblock %}




{% block body_block %}

<!--==========================
  Intro Section                             ******  Different  *****
============================-->
<section id="intro">
    <div class="intro-content">
        <h2>Litigation <span>Management</span><br></h2>
    </div>


    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
              <img class="d-block w-100" src='/static/mediaapp/img/intro-carousel/4.jpg' alt="Second slide">
          </div>

        </div>
    </div>

</section><!-- #intro -->

<main id="main">

    <!--==========================
      About Section
    ============================-->
    <section id="about" class="wow fadeInUp">
        <div class="container">
            <div class="row">

                <div class="col-lg-12 content">

                    <h3>Are you lawyer? Do you involve in any litigation? How you are tracking your cases. Leg-Tech is
                        providing end to end litigation management system. Litigation management system will provide you
                        timely alert, expense tracker as well as data and document management.</h3>


                </div>
            </div>

        </div>
    </section><!-- #about -->

    <!--==========================
      Services Section
    ============================-->
    <section id="services">
        <div class="container">
            <div class="section-header">
                <h2>Our Solution: -</h2>
                <p></p>
            </div>

            <div class="row">
                <ul>
                    <li>Upload case data using Excel sheet</li>
                    <li>Assign case related responsibility to system user</li>
                    <li>Upload case related documents</li>
                    <li>Manage case history including orders, appeal, notices</li>
                    <li>Link cases with each other</li>
                    <li>Create Lawyers Database</li>

                </ul>
            </div>

        </div>
    </section><!-- #services -->


</main>

<!--==========================
  Footer
============================-->
<footer id="footer">
    <div class="container">
        <div class="copyright">

        </div>

    </div>
</footer><!-- #footer -->

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

{% endblock %}
